.lulu {
    background-color: #ebe2e2;
          padding: 20px;
             border-radius: 5px;
                     margin-left: -100px;
                    width: 95%;
               height: 90px;
                 text-align: 30px;
                       margin: 1%;
                  font-size: 25px;
            animation: 300ms ease-in-out;
         transition: 0.3s;
    margin-bottom: 2px;
}
.lulu:hover {
    background-color: #38cf51de;
           color: #fff;
                transform: scale(1.05);
                     transition: 1,0ms;
           margin-bottom: 10;
    border-radius: 45px;
} 