@media screen and (max-width: 1440px) {
    body {
        background-image: url(s.s.s.\ marke.png);
        background-color: azure;
        
        
    }

body{
background-color: brown;
}
header{
    background-color: blue;
    display: flex;
    display: inline;
    height: 10%;
}
main{
    background-color: aqua;
    height: 100%;
    width: 100%;

}
footer{
    background-color: blueviolet;
}
.descricao{
    background-color: green;
    height: 10%;
    width: 755px;
    margin-top: 50px;
    margin-left: -0%;
}
.descricao-2{
    background-color: chocolate;
    width: 755px;
    margin-top: 50px;
    margin-left: 10px;
    height: 250px;
}
.descricao-3{
    background-color: rgb(243, 17, 130);
    margin-top: 50px;
    width: 750px;
    margin-left: auto;
    height: 250px;

}

}/*Fechamento do resdbosivel*/